#contenedor {
    padding: 10px;
    margin: 10px 0;
    width: 300px;
}

button {
    padding: 9px;
    margin-top: 9px;
}

.tarjeta {
    border: 3px solid blueviolet;
    padding: 8px;
    margin: 9px;
    width: 160px;
    height: 70px;
    cursor: pointer;
}



.contenedor-tarjetas {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.seleccionada {
    background-color: royalblue;
}

